[submodule "ds-ua-workshop"]
	path = ds-ua-workshop
	url = https://gitlab.com/strltsva/ds-ua-workshop.git

[submodule "DSU_workshop_evolution"]
	path = DSU_workshop_evolution
	url = git@github.com:crazyleg/DSU_workshop_evolution.git
